body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image:url('IMG-20250219-WA0048.jpg')
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.welcome, .about-content, .product-gallery, .sustainability-info, .contact-form, .scripts-info {
    text-align: center;
    padding: 50px;
}